@model blog_template_practice.Models.Content
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p>Title <span>@Model.Title</span></p>
    <p>Body <span>@Model.Body</span> </p>
    <p>Author <span>@Model.Author</span> </p>
    <p>PublishDate <span>@Model.PublishDate</span> </p>

    
</body>
</html>
